/* Main Roles
================================================== */
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "GreatVibes-Regular";
    src: url(../fonts/GreatVibes-Regular.ttf);
}
body {
    font-family: "Montserrat-Regular";
    background-color: #f6f6fc;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
a,
a:hover {
    text-decoration: none;
}
section {
    margin: 80px 0px;
    padding: 50px 0px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px #707070;
}
.title h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #e051a7;
}

/* Navbar
================================================== */
nav {
    background-image: url('../Images/theme/header.png');
    margin: 0px auto;
    height: 845px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navbar {
    border-radius: 0px !important;
}
.logo {
    text-align: -webkit-center;
    margin-top: 150px;
}
.logo a {
    font-family: "GreatVibes-Regular";
    color: #fff !important;
    font-size: 180px;
    margin: 0;
    padding: 0;
    line-height: 0px;
    float: none;
    height: 0px;
}
.logo p {
    color: #fff !important;
}
.navbar-nav .main-card-btn {
    padding-top: 5px;
    font-size: 15px !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
    padding: 5px 15px;
    text-transform: uppercase !important;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #fff !important;
    color: #e051a7 !important;
    font-weight: bold !important;
    border-radius: 4px;
    padding: 5px 15px;
}
.navbar-nav>li {
    margin-top: 50px;
}
.navbar-nav .main-card-btn a {
    font-size: 15px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.mr-20 {
    margin-right: 20px;
}
.subtitle
{
    font-size: 20px; 
    color: white;
    text-transform: capitalize;
    padding: 20px 200px; 

}
/* Main Button
================================================== */
.second-card-btn a {
    text-transform: uppercase;
    color: #fff;
    background-color: #e0e0e0;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 50px;
}
.main-card-btn a {
    text-transform: uppercase !important;
    color: #fff !important;
    background-color: #b347ab !important;
    padding: 10px 20px !important;
    font-size: 22px;
    border-radius: 50px !important;
}
.btn-width a {
    width: 200px;
    text-align: -webkit-center;
    display: -webkit-inline-box;
}
@media (max-width: 425px) {
    .btn-width {
        text-align: center;
    }
    .second-card-btn {
        margin-bottom: 20px;
    }
    .btn-width a {
        width: 95%;
    }
}

/* Meal Card
================================================== */
.meal-card {
    border:0px solid #707070;
    border-radius: 15px;
    margin: 20px 20px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 250px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  
}
.meal-card:hover {
    transform: scale(1.05);
}
.meal-card img {
    border-radius: 8px;
}
.meal-card h3 {
    padding: 10px;
    text-align: -webkit-center;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: black;
}
.meal-card p {
    margin: 0 10px 15px 10px;
    height: 78px;
    overflow: hidden;
}
.meal-card .meal-card-btn {
    text-align: center;
    margin-bottom: 15px;
}
.meal-card .meal-card-btn a {
    text-transform: uppercase;
    color: #fff;
    background-color: darkmagenta;
    padding: 10px 35px;
    border-radius: 50px;
}

/* Top Categories
================================================== */
.top-categories .item {
    text-align: center;
    padding: 20px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.top-categories .item:hover {
    transform: scale(1.1);
}
.top-categories .item img {
    border-radius: 50%;
}
.top-categories .item p {
    font-size: 24px;
    margin-top: 8px;
    text-transform: uppercase;
}

/* Customer Details
================================================== */
.address,
.payment-method {
    border: 0px solid #ababab;
    border-radius: 8px;
    padding: 15px;
}
.address .sub-title,
.payment-method .sub-title {
    border-bottom: 2px solid #ababab;
    display: -webkit-inline-box;
    padding: 0 15px 10px 15px;
    margin-bottom: 50px;
}
.address form,
.payment-method form {
    display: grid;
}
.payment-method form p {
    padding: 0 30px;
    font-size: 24px;
    color: #aab0bb;
}
.payment-method form svg {
    float: right;
}
.payment-method form h3 {
    margin: 30px 0px;
}
.payment-method .meal-botton {
    margin-top: 30px;
}
.payment-method #month {
    height: 50px;
}
.address form input,
.payment-method form input,
.payment-method form select {
    line-height: 50px !important;
    border-radius: 4px !important;
    border: 1px solid #cdcdcd !important;
    padding: 0 10px !important;
}
.meal-botton {
    background-color: darkmagenta;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    border: 0px;
    border-radius: 8px;
}

/* Admin Page
================================================== */
.new-meal form input {
    width: 100%;
    line-height: 40px;
    padding: 0 10px;
}
.new-meal form input:first-of-type {
    margin-bottom: 15px;
}
.new-meal div form p {
    margin-bottom: 20px;
    font-size: 24px;
}
.add-image p {
    font-size: 13px;
    text-align: -webkit-center;
    margin-top: 15px;
}
.add-new-btn {
    margin-top: 50px;
}
.add-new-btn .main-card-btn a {
    padding: 10px 50px !important;
}

/* Footer
================================================== */
footer {
    background-image: url('../Images/theme/Footer.png');
    margin: 0px auto;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer {
    margin-top: 300px;
}
footer .footer-list li {
    float: left;
    list-style: none;
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
    margin-top: 50px;
}
footer .footer-list li a {
    color:#fff;
}
footer .footer-list li:first-child {
    margin: 0;
    margin-left: -55px;
}